.app{
    background-color: #026f7b;
    padding: 20px;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__frameCalen {
            height: 90vh;
            background-color: white;
            padding: 15px;
            border-radius: 20px;
            height: 60vh;
        }
}

.rbc-toolbar{
    font-family: 'Nunito', sans-serif;
}
.rbc-toolbar-label{
    font-size: 1rem;
}
.rbc-btn-group{
    font-family: 'Nunito', sans-serif;
}


.rbc-event{
    background-color: #026f7b;
    
}

.rbc-today{
    background-color:rgba(255, 192, 118, 1);
}

.color_1 {
    background: aqua;
}

.color_2 {
    background: rgb(225, 0, 255);
}

.color_3 {
    background: rgb(191, 255, 0);
}